* {
  margin: 0 auto;
}
body {
  width: 100%;
}
.header {
  background-color: #3030C1;
  padding-top: 60px;
  width: 100%;
}

.logo {
  background: url('./img/Logo.svg') no-repeat;
  width: 180px;
  height: 47px;
  margin-left: 130px;
}
.main__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 733px;
  background-color: #3030C1;
}

.main__header-text {
  margin-left: 130px;
  margin-top: 134px;
}
.main__header-title{
  font-family: 'Gilroy-ExtraBold';
  font-size: 45px;
  color: #fff;
  white-space: nowrap;
}
.main__header-subtitle {
  font-family: 'Gilroy-ExtraBold';
  font-size: 30px;
  color: #FFCC33;
  white-space: nowrap;
  margin-top: 32px;
}
.main__header-descr {
  font-family: 'Gilroy-Light';
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  margin-top: 10px;
}
.main__header-btn {
  border: none;
  background-color: #FFCC33;
  margin-top: 32px;
  font-family: 'Montserrat-Black';
  font-size: 20px;
  color: #3030C1;
  width: 216px;
  height: 54px;
}
.main__header_pic {
  margin-top: 80px;
  padding-right: 130px;
  background: url('./img/bc.svg') no-repeat;
  width: 65%;
  height: auto;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 1024px) and
				(orientation: portrait) {

        }
@media screen and (max-width: 950px) {

}

@media screen and (max-width: 630px) and
				 (orientation: portrait) {
  
    }


         }
